extends layout

block content
    .app-header
        h1.centre Admin
    .main
        h2 Actions
        ul.menu
            li.menu__item
                a(href='/delete/all-events') Reset the app
            li.menu__item
                a(href='/') Switch to a different player
        h2 Events
        table
            for event in history
                - var date = Sugar.Date.format(event.jobDate, '%x %X')
                tr
                    td #{event.userName} 
                    td #{event.jobTitle} 
                    td #{date}
                    td
                        a(href='/delete/event-' + event._id) Delete
