extends layout

block content
    .app-header
        h1.centre Switch to a different player
    .main
        h2.centre Choose a player
        ul.menu
            each user in users
                li.menu__item                    
                    a(href='/user-' + user.id ) #{user.name}
