extends layout

block content
    .app-header.fixed
        h1.centre What did you do?
    .main
        ul.menu
            each job in jobs
                li.menu__item                  
                    a(href='/user-' + user.id + '/job-' + job.id ) I #{job.title}
        a.back-button(href='/user-' + user.id) Back
