doctype html
html
    head
        meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;")
        meta(name="apple-mobile-web-app-capable" content="yes") 
        meta(name="apple-touch-fullscreen" content="yes")
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='manifest' href='/manifest.json')
    body
        .content
            block content
            br
            hr
            ul.nav
                li
                    a(href='/') Change player
                li
                    a(href='/stats') Stats
                li
                    a(href='/admin') Admin