extends layout

block content
    h1 What did you do #{user.name}?
    ul.menu
        each job in jobs
            li.menu__item                    
                a(href='/user-' + user.id + '/job-' + job.id ) I #{job.title}
