body {
  max-width: 550px;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  /*font-family: "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Quicksand', cursive;
}

a {
  color: black;
}

li{
	margin-bottom: 12px;
}

form{
	margin: 48px 0;
}

hr{
	border: 1px solid grey;
}

.app-header{
	background: #333;
	color: white;
	padding: 12px 24px 24px;
}

.app-header h1{
	margin-top: 24px;
}

.app-header.fixed{
    position: fixed;
    width: 100%;
    padding: 12px 0;
    top: 0;
}

.app-header.fixed + .main{
	padding-top: 90px;
}

.main{
	margin: 0 12px;
    min-height: 600px;
}

.intro{
	font-size: 14px;
	text-align: center;
}

.nav{
	margin: 12px 0;
	padding: 0;
	text-align: center;
}
.nav li{
	display: inline-block;
	width: 33%;
	list-style-type: none;
}
.nav li a{
	display: block;
	padding: 12px;
}

.centre{
	text-align: center !important;
}

.menu{
	padding-left: 0;
    margin: 12px 0;
}

.menu__item{
	list-style-type: none;
	text-align: center;
}

.menu__item a{
	display: block;
	padding: 12px 24px;
	background: #ebebeb;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.menu__item a:hover{
	background: green;
	color: white;
}

.green{
	background: green !important;
	color: white !important;
}

h1, h2{
	font-size: 24px;
	margin-top: 48px;
}

button{
	width: 100%;
	background: green;
	color: white;
	border: 0;
	padding: 10px 20px;
	font-size: 20px;
    margin: 0 auto;
    display: block;
}

button:hover{
	cursor: pointer;
}

.job-history,
.leaderboard{
  	margin: 0 auto;
  	padding-left: 0;
}

.job-history{
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	margin: 24px -12px;
}

.job-history__item,
.leaderboard__item{
  	list-style-type: none;
}

.job-history__item{
	font-size: 14px;
	padding: 12px;
	margin: 0;
}

.job-history__item:nth-child(even){
	background: #ebebeb;
}

table{
	width: 100%;
	font-size: 14px;
    border-collapse: collapse;
}
table td{
	padding: 12px 6px;
}
table tr:nth-child(odd){
	background: #ebebeb;
}

.users{
	display: flex;
  	justify-content: space-between;
    margin: 12px -6px;
}
.user{
	flex: 1;
    text-align: center;
    background: #ebebeb;
    padding: 12px;
    margin: 0 6px;
}

.user .points{
	font-size:	48px;
	font-weight: bold;
}